body{
    font-family: Helvetica;
    background: #fff;
    background-image: url(../images/backg/test2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main_page{
    height: auto;
    min-height: 900px;
    width: 90%;
    margin: 0 auto;
}
.header{
    height: 83px;
    width: 1518px;
    background-image: url(../images/backg/header.jpg);
    margin-left: -83px;
    margin-top: -9px;
    position: fixed;
}

ul.list_main_menu{
    padding: 0;
    margin: 0 auto;
    width: 80%;
    list-style: none;
    line-height: 27px;
}
ul.list_main_menu li{
    float: left;
    padding: 5px;
    margin-top: 29px;
    margin-left: 33px;
}
ul.list_main_menu li:hover{
    background:#a777c7;
    border-radius: 4px;
}
ul.list_main_menu li a:hover{
    color: #fff;
}
ul.list_main_menu li a{
    text-decoration: none;
    text-align: center;
    color: #de237e;
    display: block;
    margin-top: 0px;
}   
#content{
    height: 90%;    
    width: 100%;
}
.sidebar{
    height: 98%;
    width: 10%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar{
    border-radius: 5px;
    padding: 0;
    margin: 0;
    width: 169px;
    list-style: none;
    line-height: 27px;
    position: fixed;
    margin-top: 71px;
    margin-left: -87px;
    background-image: url(../images/backg/sidebar.jpg);
    height: 640px;
}
ul.list_sidebar li{
    margin: 0px;
    margin-left: 0px;
    padding: 17px;
}
ul.list_sidebar li:hover{
    background:#a777c7;
    border: 0.5px inset;
    border-radius: 4px;
}
ul.list_sidebar li a:hover{
    color: #fff;
    display: block;
}
ul.list_sidebar li a{
    text-decoration: none;
    text-align: left;
    color: #de237e;
    display: block;
    width: 80px;
}
.maincontent{
    height: 98%;
    width: 87%;
    margin-top: 100px;
    margin-right: 5px;
    float: right;
}
ul.list_prod li{
    list-style: none;
    width: 18.5%;
    border: 1px outset;
    border-radius: 2px;
    float: left;
    margin: 5px ;
    background: #d9d4d4;
    height: 370px;
}
ul.list_prod li:hover{
    border: 1px inset;
}
ul.list_prod li a{
    text-decoration: none;
}
p.price_prod{
    color: red;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 0%;
    width: 100%;
}
p.name_prod{
    height: 11%;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-left: 2px;
    color: black;
}
ul.list_prod li img{
    width: 100%;
}

.box{
    float: right;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-10%, 0%);
    background: #2f3640;
    border-radius: 50px;
    padding: 10px;
    margin-top: 12px;
}
.sbutton{
    float: left;
}
input[type="submit"]:hover {
    background: gray;
    display: inline;
    color: #fff;
}
input[type="submit"] {
    background: #2f3640;
    border: none;
    color: #de237e;
    height: 38px;
    font-size: 15px;
}
.timkiem_txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 15px;
    transition: 0.4s;
    line-height: 40px;
    width: 90%;
}
.timkiem: hover > .timkiem_txt{
    width: 400px;
    padding: 0 5px;
    border-radius: 50px;
}
.timkiem: hover > .sbutton{
    background: #fff;
}
.prod_review{
    height: auto;
    width: 70%;
    margin: 0 auto;
    color: #de237e;
}
.prod_detail{
    color: #de237e;
}
.img_prod{
    float: left;
    width: 40%;
}
.footer{
    height: 40px;
    width: 101%;
    position: fixed;
    bottom: 0;
    background-image: url("../images/backg/test2.jpg");
    margin-left: -82px;
}
.footer_cr{
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    color: blue;
}
.logo{
    float: left;
}
.logo img{
    width: 100%;
    height: 100%;
}
.clear{
    clear:both;
}
p.kq {
    color: #de237e;
}
p.InStock{
    height: 0%;
    width: 100%;
    float: left;
    color: blue;
    text-align: center;
    font-weight: bold;
}
p.OutStock{
    height: 24%;
    width: 100%;
    float: left;
    color: red;
    font-weight: bold;
    text-align: center;
}