body{
    font-family: Helvetica;
    background: #fff;
    background-image: url(../Style/Img/backgr.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}
.header_index{
    display: inline-block;
}
.index_search{
    margin-left: 214px;
}
.timkiem{
    margin-left: 214px;
    color: aliceblue;
}
.footer{
    height: 40px;
    width: 90%;
    position: fixed;
    bottom: 0;
    background-image: url(../Style/Img/backgr.jpg);
    
}
.footer_cr{
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    color: blue;
}
.logo1{
    
    height: 90px;
    width: 160px;
    bottom: 0;
    background-repeat:no-repeat;
    background-image: url(../Style/Img/logo.jpg);
}

ul.navbar-nav li a{
    color:#de237e ;

}
ul.navbar-nav li a:hover{
    color: #fff;
}
ul.navbar-nav li:hover{
    background:#a777c7;
    border: 0.5px inset;
    border-radius: 4px;
}
.btn_cart :hover{
    background:#a777c7;
    border: 0.5px inset;
    border-radius: 4px;
}
.btn.btn_add i:hover{
    background:#a777c7;
    border: 0.5px inset;
    border-radius: 4px;
}
.table1{
    border:1px solid black;
}
.th{
    border:1px solid black;
}
.td{
    border:1px solid black;
}
.btn.btn_check{
    color: #fff;
    background-color: #8B008B;
    margin-left: 270px;
}
.btn.btn_check a:hover{ 
    color: black;
    background-color: #a777c7;
}
.giatien{
    background-color: beige;
    width: 50%;
    color:black;
    border-radius: 4px;
    margin-left: 250px;
}
.giatien_order{
    background-color: beige;
    width: 60%;
    color:black;
    border-radius: 4px;
    margin-left: 150px;
}
.abc{
    float: left;
}
.sidebar{
    height: 98%;
    width: 30%;
    margin-left: -86px;
    margin-top: -65px;
    float: left;
}
.header{
    height: 83px;
    width: 1518px;
    background-image: url(/images/backg/header.jpg);
    margin-left: 0px;
    margin-top: 0px;
}

ul.list_main_menu{
    padding: 0;
    margin: 0 auto;
    width: 80%;
    list-style: none;
    line-height: 27px;
}
ul.list_main_menu li{
    float: left;
    padding: 5px;
    margin-top: 29px;
    margin-left: 33px;
}
ul.list_main_menu li:hover{
    background:#a777c7;
    border-radius: 4px;
}
ul.list_main_menu li a:hover{
    color: #fff;
}
ul.list_main_menu li a{
    text-decoration: none;
    text-align: center;
    color: #de237e;
    display: block;
    margin-top: 0px;

}
ul.list_sidebar{
    border-radius: 5px;
    padding: 0;
    margin: 0;
    width: 169px;
    list-style: none;
    line-height: 27px;
    position: fixed;
    margin-top: 65px;
    margin-left: -87px;
    background-image: url(/images/backg/sidebar.jpg);
    background-size: cover;
    height: 640px;
}
ul.list_sidebar li{
    margin: 0px;
    margin-left: 0px;
    padding: 17px;
}
ul.list_sidebar li:hover{
    background:#a777c7;
    border: 0.5px inset;
    border-radius: 4px;
}
ul.list_sidebar li a:hover{
    color: #fff;
    display: block;
}
ul.list_sidebar li a{
    text-decoration: none;
    text-align: left;
    color: #de237e;
    display: block;
    width: 135px;
}
.logo{
    float: left;
}
.logo img{
    width: 100%;
    height: 100%;
}
.clear{
    clear:both;
}
.quan_content {
    margin-top: 100px;
}
.header_cart{
    margin-left: 600px;
}
button.btn.btn_cart {
    margin-top: -11px;
}
h3.timkiem {
    color: #de237e;
    margin-left: 214px;
}
.row1 {
    margin-top: 160px;
}