/* css_bill
.container-test{
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.btn {
    background-color: aqua;
} */
/* html{
    background-image: url(https://img5.thuthuatphanmem.vn/uploads/2021/11/08/hinh-nen-gaming-4k-ao-dieu_081509601.jpge/Img/backgr.jpg);
} */
.index_search{
    margin-left: 167px;
}
.timkiem{
    margin-left: 167px;
}